<!DOCTYPE html>
<html>
<head>
    <metacharset ="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="/Content/bootstrap.css" rel="stylesheet" />
    <Script type="text/javascript">
        window.history.forward();
        function noBack() { window.history.forward(); }
    </Script>
</head>

<body style="margin-top:0px;">
    <div style="width:auto">
        <div id="banner" style="padding-right:5px">
            <h1 style="text-align:center; color:purple; margin:30px"><b>STAFF MANAGEMENT</b></h1>
            <div style="text-align:right; position:fixed; top:10px; right:5px">
                @if (Session["RoleID"] != null)
                {
                    <div style="background-color:lightgray; padding:5px">
                        <p style="margin: 0"><b>@Session["Staff"]</b></p>
                        <p><b>@Session["Role"]</b></p>
                        <div class="btn-group">
                            <button class="btn btn-info">Profile</button>
                            @Html.ActionLink("Logout", "Logout", "Home", null, new {onclick="noBack()", @class = "a btn btn-danger"})
                        </div>
                    </div>
                }
                else
                {
                    @Html.ActionLink("Login", "Login", "Home", new {@class = "a btn btn-success"})
                }
            </div>
            
        </div>
        <div id="menu" style="background-color:bisque; margin-bottom:5px">
            <div class="btn-group">
                @Html.ActionLink("Home", "Index", "Home", null, new { @class = "a btn btn-info"})
                @if (Session["RoleID"]!=null && Session["RoleID"].ToString() == "3")
                {@Html.ActionLink("Managers","Index","Managers", null, new { @class = "a btn btn-primary"})}
            </div>
        </div>
        <hr style="margin-top:0px; border:solid 1px" />
        <div id="content">@RenderBody()</div>
        <div id="footer" style="bottom:0px; width:100%">
            Copyright &copy;
            @DateTime.Now.Year
        </div>
    </div>
</body>
</html>