@model IEnumerable<StaffManagement.Models.Manager>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center text-primary">List of Managers</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new {@class = "btn btn-primary" })
</p>
<table class="table table-hover table-striped">
    <tr>
        <th>
            Name
        </th>
        <th>
            Date of birth
        </th>
        <th>
            Phone number
        </th>
        <th>
            Email
        </th>
        <th>
            Profile picture
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            Date hired
        </th>
        <th>
            Date left
        </th>
        <th>
            Role
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Staff_Name)
        </td>
        <td>
            @item.DoB.ToString("dd/MM/yyyy")
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            <img class="center-block" width="30" src="~/Content/Images/Staff/@item.Pic" />
        </td>
        <td>
            @if (item.Status == 1)
            {
                <b class="text-success">Available</b>
            }
            else if (item.Status == 0)
            {
                <b class="text-danger">Left</b>
            }
            else
            {
                <b class="text-warning">Unavailable</b>
            }
        </td>
        <td>
            @if (item.Datehired != null) {@item.Datehired.Value.ToString("dd/MM/yyyy")}
        </td>
        <td>
            @if (item.Dateleft != null) {@item.Dateleft.Value.ToString("dd/MM/yyyy")}
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Role.Role_Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Staff_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.Staff_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Staff_ID })
        </td>
    </tr>
}

</table>
